.gitbar {
    clear: both;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3em;
    background-color: #262626;
}

.gitbar-content {
    margin: 0;
    width: 960px;
    padding: 5% 0;
}

.gitbar-url {
    color: #ffffff;
}

.gitbar-branch {
    padding-left: 3em;
}

.btn, .btn:hover, .btn:active, .btn:visited {
    background-color:  #5C4EE5 !important;
    color: #ffffff
}
