.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    font-size: calc(10px + 2vmin);
    color: white;
}

.spinner-logo {
    margin: 20%;
    height: 100px;
    widows: 100px;
    animation: logo-spin infinite 15s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}