.navbar {
    background-color: #5C4EE5;
}

.navbar-title {
    color: #ffffff;
    text-align: center;
}

.navbar-user {
    color: #ffffff;
    text-align: right;
    margin-right: 5%;
    margin-top: 2%;
    font-weight: bold;
}